In [2]:
import pymongo

### 1. Make a database and add new data into it

In [5]:
client_new = pymongo.MongoClient('mongodb://localhost:27017')
db = client_new['data_test']

col_new = db['students']
dict_new = {"name": "Ronaldo", "code": "code07"}
add = col_new.insert_one(dict_new)

print(add)

InsertOneResult(ObjectId('658a4cc77aabcadf9d4b6e62'), acknowledged=True)

### 2. Insert many documents

In [6]:
client_new = pymongo.MongoClient('mongodb://localhost:27017')

db = client_new['data_new']
col_new = db['students']

students_list = [
    {"name": "student00", "code": "code00"},
    {"name": "student01", "code": "code01"},
    {"name": "student02", "code": "code02"},
    {"name": "student03", "code": "code03"},
    {"name": "student04", "code": "code04"},
    {"name": "student05", "code": "code05"},
]

add_many = col_new.insert_many(students_list)

print(add_many.inserted_ids)

[ObjectId('658a54c67aabcadf9d4b6e64'), ObjectId('658a54c67aabcadf9d4b6e65'), ObjectId('658a54c67aabcadf9d4b6e66'), ObjectId('658a54c67aabcadf9d4b6e67'), ObjectId('658a54c67aabcadf9d4b6e68'), ObjectId('658a54c67aabcadf9d4b6e69')]

### 3. Specify the ID for each document

In [7]:
client_new = pymongo.MongoClient('mongodb://localhost:27017')

db = client_new['data_new']
col_new = db['students_new']

students_list = [
    {"_id": 1, "name": "student00", "code": "code00"},
    {"_id": 2, "name": "student01", "code": "code01"},
    {"_id": 3, "name": "student02", "code": "code02"},
    {"_id": 4, "name": "student03", "code": "code03"},
    {"_id": 5, "name": "student04", "code": "code04"},
    {"_id": 6, "name": "student05", "code": "code05"},
]

add_many = col_new.insert_many(students_list)

print(add_many.inserted_ids)

[1, 2, 3, 4, 5, 6]

### 4. Display selected documents

In [8]:
find = col_new.find_one()
print(find)

{'_id': 1, 'name': 'student00', 'code': 'code00'}

In [9]:
for document in col_new.find():
    print(document)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [10]:
query_new = { "code": "code01"}
doc_new = col_new.find(query_new)

for document in doc_new:
    print(document)

{'_id': 2, 'name': 'student01', 'code': 'code01'}

In [11]:
query_new = { "code": {"$gt": "code"}}
doc_new = col_new.find(query_new)

for document in doc_new:
    print(document)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

### 5. Sort the results

In [13]:
# descending

query_new = col_new.find().sort("name", -1)

for document in query_new:
    print(document)

{'_id': 6, 'name': 'student05', 'code': 'code05'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}

### 6. Delete documents

In [14]:
query_new = {"code": "code01"}
col_new.delete_one(query_new)

for document in col_new.find():
    print(document)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [16]:
q_new = {"code": {"$regex": "^code03"}}

d = col_new.delete_many(q_new)
print(d.deleted_count, "documents deleted from the collection")

1 documents deleted from the collection

In [17]:
remove_all = col_new.delete_many({})
print(remove_all.deleted_count, "documents deleted from the collection")

4 documents deleted from the collection

### 7. Update a collection

In [18]:
client_new = pymongo.MongoClient('mongodb://localhost:27017')

db = client_new['data_new']
col_new = db['students_new']

students_list = [
    {"_id": 1, "name": "student00", "code": "code00"},
    {"_id": 2, "name": "student01", "code": "code01"},
    {"_id": 3, "name": "student02", "code": "code02"},
    {"_id": 4, "name": "student03", "code": "code03"},
    {"_id": 5, "name": "student04", "code": "code04"},
    {"_id": 6, "name": "student05", "code": "code05"},
]

add_many = col_new.insert_many(students_list)

In [20]:
q_new = {"code": "code00"}
vals_new = {"$set": {"code": "codeZero"}}

col_new.update_one(q_new, vals_new)

for document in col_new.find():
    print(document)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

### 8. Display limited results

In [21]:
filter_result = col_new.find().limit(3)

for document in filter_result:
    print(document)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}