### 1. Make a connection

In [1]:
import sqlite3

In [2]:
connection_new = sqlite3.connect("data_testing.db")

### 2. Get the type

In [3]:
type(connection_new)

sqlite3.Connection

In [5]:
print(type(connection_new))

<class 'sqlite3.Connection'>

### 3. Initiate the cursor

In [6]:
cursor_new = connection_new.cursor()
print(type(cursor_new))

<class 'sqlite3.Cursor'>

### 4. Get the current local time

In [7]:
sql_new = "SELECT datetime('now', 'localtime');"

In [8]:
cursor_new.execute(sql_new)

In [9]:
cursor_new.fetchone()

('2023-12-25 18:16:56',)

In [10]:
dtime_new = cursor_new.execute(sql_new).fetchone()[0]

In [11]:
print(dtime_new)

2023-12-25 18:18:28

### 5. Use the close() function

In [12]:
connection_new.close()

### 6. Manage all the database connection inside the same block of code

In [14]:
with sqlite3.connect("data_testing.db") as connection_new:
    cursor_new = connection_new.cursor()
    sql_new = "SELECT datetime('now', 'localtime');"
    dtime_new = cursor_new.execute(sql_new).fetchone()[0]

In [15]:
print(dtime_new)

2023-12-25 18:23:13

### 7. Create a table in the SQLite database

In [16]:
import sqlite3

connection_new = sqlite3.connect("data_testing.db")
cursor_new = connection_new.cursor()

cursor_new.execute("CREATE TABLE clients(Name TEXT, Number INT);")
cursor_new.execute("INSERT INTO clients VALUES('Tyson', 2030);")

connection_new.commit()
connection_new.close()

### 8. Fetch the results from the clients table

In [17]:
connection_new = sqlite3.connect("data_testing.db")
cursor_new = connection_new.cursor()

cursor_new.execute("SELECT * FROM clients;")

In [18]:
cursor_new.fetchone()

('Tyson', 2030)

### 9. Remove a table

In [19]:
cursor_new.execute("DROP TABLE clients;")

In [20]:
connection_new.commit()
connection_new.close()

### 10. Full program to fetch all data from data_testing database

In [21]:
import sqlite3

new_values = (
    ("Ronaldo", 7),
    ("Scholes", 30),
    ("Giggs", 11),
)

with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")
    new_cursor.executemany("INSERT INTO clients VALUES(?, ?)", new_values)
    new_cursor.execute("SELECT Name, Number FROM clients WHERE Number > 7;")
    
    for x in new_cursor.fetchall():
        print(x)

('Scholes', 30)
('Giggs', 11)