### 1. Create a connection

In [9]:
import mysql.connector

In [10]:
db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77"
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B6AAF60C90>

### 2. Create a database

In [11]:
import mysql.connector

db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root77"
)

cursor_new = db.cursor()
cursor_new.execute("CREATE DATABASE new_db")

### 3. Check if a database exists

In [12]:
import mysql.connector

db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root77"
)

cursor_new = db.cursor()
cursor_new.execute("SHOW DATABASES")

for databases in cursor_new:
    print(databases)

('information_schema',)
('mysql',)
('new_db',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [13]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

### 4. Create a table and show data

In [15]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

### 5. List all tables in the new_db database

In [16]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("SHOW TABLES")

for tables in cursor_new:
    print(tables)

('students',)

### 6. Add PRIMARY KEY when creating a table

In [17]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("CREATE TABLE clients (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

### 7. Add PRIMARY KEY if a table already exists

In [18]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

### 8. Inserting data into a table

In [20]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()

sql_new = "INSERT INTO students (name, code) VALUES (%s, %s)"
vals_new = ("Ronaldo", "CODE7")

cursor_new.execute(sql_new, vals_new)

db.commit()

print(cursor_new.rowcount, "new record inserted")

1 new record inserted

### 9. Insert many records into a table

In [22]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "INSERT INTO students (name, code) VALUES (%s, %s)"
vals_new = [
    ("Rooney", "CODE10"),
    ("Valencia", "CODE25"),
    ("Scholes", "CODE8"),
    ("Giggs", "CODE11")
]

cursor_new.executemany(sql_new, vals_new)

db.commit()

print(cursor_new.rowcount, "records inserted")

4 records inserted

### 10. Select data from a table

In [24]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("SELECT * FROM students")
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('Ronaldo', 'CODE7', 1)
('Ronaldo', 'CODE7', 2)
('Rooney', 'CODE10', 3)
('Valencia', 'CODE25', 4)
('Scholes', 'CODE8', 5)
('Giggs', 'CODE11', 6)

### 11. Select data from a column

In [28]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("SELECT name FROM students")
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('Ronaldo',)
('Ronaldo',)
('Rooney',)
('Valencia',)
('Scholes',)
('Giggs',)

In [27]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("SELECT code FROM students")
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('CODE7',)
('CODE7',)
('CODE10',)
('CODE25',)
('CODE8',)
('CODE11',)

### 12. Get the first record

In [30]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
cursor_new.execute("SELECT * FROM students")
data_new = cursor_new.fetchone()

print(data_new)

('Ronaldo', 'CODE7', 1)

### 13. Filter the result

In [31]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "SELECT * FROM students WHERE name = 'Ronaldo'"
cursor_new.execute(sql_new)
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('Ronaldo', 'CODE7', 1)
('Ronaldo', 'CODE7', 2)

### 14. Wildcard characters

In [32]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "SELECT * FROM students WHERE name LIKE '%Ronaldo%'"
cursor_new.execute(sql_new)
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('Ronaldo', 'CODE7', 1)
('Ronaldo', 'CODE7', 2)

### 15. Sort the results

In [33]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "SELECT * FROM students ORDER BY name DESC"
cursor_new.execute(sql_new)
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('Valencia', 'CODE25', 4)
('Scholes', 'CODE8', 5)
('Rooney', 'CODE10', 3)
('Ronaldo', 'CODE7', 1)
('Ronaldo', 'CODE7', 2)
('Giggs', 'CODE11', 6)

### 16. Delete records

In [36]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "DELETE FROM students WHERE name = %s"
name = ("Ronaldo",)

cursor_new.execute(sql_new, name)
db.commit()

print(cursor_new.rowcount, "records deleted from new_db")

2 records deleted from new_db

### 17. Delete a table

In [37]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "DROP TABLE clients"

cursor_new.execute(sql_new)

### 18. Update a table

In [38]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "UPDATE students SET code = %s WHERE code = %s"
vals_new = ("CODE18", "CODE8")

cursor_new.execute(sql_new, vals_new)
db.commit()

print(cursor_new.rowcount, "records changed in students table")

1 records changed in students table

### 19. Limit the records

In [39]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "SELECT * FROM students LIMIT 2"
cursor_new.execute(sql_new)
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('Rooney', 'CODE10', 3)
('Valencia', 'CODE25', 4)

In [40]:
import mysql.connector

db = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "root77",
     database = "new_db"
)

cursor_new = db.cursor()
sql_new = "SELECT * FROM students LIMIT 2 OFFSET 1"
cursor_new.execute(sql_new)
data_new = cursor_new.fetchall()

for fetch in data_new:
    print(fetch)

('Valencia', 'CODE25', 4)
('Scholes', 'CODE18', 5)